<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Mission_to_Mars</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
  </head>

  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Scrape Mars</h1>
        <p>
          <a class="btn btn-primary btn-lg" href="/scrape" role="button"
            >Lets scrape Mars!</a
          >
        </p>
      </div>

      <!--  Listings -->
      <div class="row" id="listings">
        <div class="col-md-12">
          <h4 class="heading">
            {% for dict in py_dict %}
            <li>{{dict.JPL_Space_Img}}{{dict.hemisphere_image_urls}}</li>
            <small>{% endfor %}</small>
          </h4>
        </div>
      </div>
    </div>
  </body>
</html>
